<header role="banner"></header>
<nav role="navigation"></nav>
<section id="main">
    <img src="../assets/images/logo.png"/>
    <h1>Slightly opinionated boilerplate and workflow for crafting web apps such as <a href="http://techtonic-demo.herokuapp.com/">{{ name }}</a></h1>
</section>
<footer role="contentinfo"></footer>
