<header role="banner"></header>
<nav role="navigation"></nav>
<section id="main">
    <img src="../assets/images/logo.png"/>
    <h1>Slightly opinionated boilerplate, toolchain, and workflow for crafting web apps such as <a href="#">{{ name }}</a></h1>
</section>
<footer role="contentinfo">
    Visit the <a href="https://github.com/jhwohlgemuth/generator-techtonic">GitHub repo</a>
</footer>
