// Sass does not support inline CSS import so this will not work
// Inline CSS import is slated for Sass v4 - https://github.com/sass/sass/issues/193#issuecomment-108590912
// @import "<% if (sourceDirectory !== './') { %>../<% } %>../../node_modules/normalize.css/normalize.css";

body {
    background-color: white;
    background-image: url("../<%= sourceDirectory %>assets/images/logo.png");
    background-position: 50% -50%;
    background-repeat: no-repeat;
    background-size: 250px;
    font-family: sans-serif;
    font-size: 87.5%;
    margin: 0;
    padding: 2em 0 ;
}

/*---
title:   Structure
section: Base CSS
---

Styles for elements such as `<section>` could go in this section.

*/
section {
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    transform: scale(1.0);
    user-select: none;
}
footer {
    bottom: 0;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/*---
title:   Links
section: Base CSS
---

```example:html
<a href="#">This is a sample link</a>
<a href="#">This is another sample link</a>
<a href="#">This is a third sample link</a>
```

*/
a,
a:visited {
    color: black;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    background-color: red;
    color: white;
}


/*---
title:   Buttons
section: Input Controls
---

The default button style is pictured below.

```example:html
<button>Hello World</button>
```
*/
button {
    background-color: blue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 1em;
    transition: all 100ms;
    text-transform: uppercase;
}
button:hover {
    background-color: lighten(blue, 10);
    cursor: pointer;
}
