<header role="banner"></header>
<nav role="navigation"></nav>
<section id="main"></section>
<footer role="contentinfo">
    <a href="#">{{ name }}</a> was made with <span style="color: red;font-weight: bold;">❤</span> using <a href="https://github.com/omahajs/generator-omaha">OMAHA JS</a>
</footer>
